{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}


<div class="container" style="margin-top: 5%; padding-bottom: 25px;">
    <div class="box">

        <h1 class="display-4" id=about style=" text-align: center; margin-top: 10%;">About Me</h1>
        <p class="lead" style="text-align: center;">My Introduction<br><br></p>
        <p class="lead" style="text-align: center; width: 50%; margin-left: auto; margin-right: auto;">
            I am a python fullstack web developer. I am familiar with web web framework django, html & css.
            I also have basic knowledge of Data Structures and Algorithm using JAVA and PYTHON.
            <br>I have made 3 projects using Python and django
        </p>
    </div>
</div>


{% endblock body %}