{% extends 'base.html' %}

{% block title %}All Blogs{% endblock title %} 

{% load static %}
{% block body %}

<div class="container ">
    <h1 class="text-center">Read Out All Blogs</h1>
    
    <div class="row row-cols-1 row-cols-md-3 g-4 px-2">
      {% for obj in regularBLOGS %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/media/{{obj.image}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{obj.title}}</h5>
              <p class="card-text">{{obj.content | safe | truncatechars:150 }}</p>
              <p class="card-text">Author: {{obj.author}}</p>
              <p class="card-text"><small class="text-body-secondary">Posted Date: {{obj.posted_date}}</small></p>
              <a href="{% url 'all_blogs' obj.pk %}" class="btn btn-primary btn-sm">Read More...</a>
            </div>
          </div>
        </div>
      </div>
  
      {% endfor %}
    </div>
  </div>

{% endblock body %}


