{% extends 'base.html' %}
{% block title %}Welcome to KeshavBlog{% endblock title %}
{% block body %}
{% load static %}



<style>
  .carousel-inner {
    height: 80vh;
  }
  .form-control{
    background-color: #00000061;
  }
  .form-control::placeholder{
    color: rgb(10, 168, 165);
  }
</style>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="{% static 'images/blog.jpeg' %}" style="height: 500px" class=" w-100" alt="...">
    <div class="carousel-caption ">
      <h3 style=" color: #3b03e7;">Welcome To Keshav's Blog</h3>
      <form method="get" action="/search" class="my-3" role="search">
        <input class="form-control me-3 w-75" style="position: relative; left: 110px; color: black;" type="search" placeholder="Search Blogs" aria-label="Search" name="query" id="search">
        <button class="btn btn-success  my-3" type="submit">Search</button>
      </form>
    </div>
  </div>

</div>


<div class="container">
  <h1 class="text-center">Read out popular blogs</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 px-2 my-4">
    {% for obj in poplarBLOGS %}
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/media/{{obj.image}}" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{obj.title}}</h5>
            <p class="card-text">{{obj.content | safe | truncatechars:150 }}</p>
            <p class="card-text">{{obj.author }}</p>
            <p class="card-text"><small class="text-body-secondary">Posted Date: {{obj.create_at}}</small></p>
            <a href="{% url 'viewBlog' obj.id %}" class="btn btn-primary btn-sm">Read More...</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock body %}