{% extends 'base.html' %}

{% block title %}View Blog{% endblock title %} 

{% block body %}

{% load static %}

<div class="card mb-3 my-5" style="max-width: 80%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/media/{{viewBlog.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body"> 
          <h5 class="card-title">{{viewBlog.title}}</h5>
          <h6 class="text-warning">Author: {{viewBlog.author}}</h6>
          <p class="card-text">{{viewBlog.content | safe}}</p>
          <p class="card-text"><small class="text-muted">Posted Date: {{viewBlog.create_at}}</small></p>
          <a href="{% url 'home' %}" class="btn btn-primary btn-sm">Home</a>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}